@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Bold"),
    url("/Pink-krokodails/fonts/Gilroy/gilroy-bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy-Medium")
    url("/Pink-krokodails/fonts/Gilroy/gilroy-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inhearit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
}
.header {
}
.header__container{
}
.container {
}
.header__title {
  font-size: 47px;
  line-height: 58px;
  padding: 55px 100px 22px 26px;
}
.header__subtitle {
  font-size: 18px;
  padding: 0 0 42px 26px;
  line-height: 20px;
}
.header__image {
  padding: 0 0 84px 29px;
}
.main {
}
.about {
}
.about__container {
  background-color: #f6f6f6;
  padding-bottom: 34px;
}
.about__title {
  font-size: 34px;
  padding: 79px 0 37px 30px;
  text-align: center;
}
.about__description {
  font-size: 18px;
  text-align: center;
}
.about__paragraph{
  line-height: 22px;
  padding: 0px 0px 43px 30px;
}
.skills {
}
.skills__container {
}
.container {
}
.skills__title {
  font-size: 34px;
  color:#000;
  font-family: "Gilroy";
  padding: 82px 0 43px 148px;
}
.skills__subtitle {
  font-size: 18px;
  padding: 0 0 0 80px;
}
.slills__image {
  justify-content: space-around;
  padding: 80px 0 118px 27px;
  display: flex;
}